<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>214135885758-976v5gn6fg42b6q7kkpvh51gts6uchvi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.214135885758-976v5gn6fg42b6q7kkpvh51gts6uchvi</string>
	<key>API_KEY</key>
	<string>AIzaSyDvjdmd7GYxWN4YkuzGDRz8BS59NgIoZOQ</string>
	<key>GCM_SENDER_ID</key>
	<string>214135885758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.peto</string>
	<key>PROJECT_ID</key>
	<string>peto-627d1</string>
	<key>STORAGE_BUCKET</key>
	<string>peto-627d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:214135885758:ios:d7ca4730a993270942b3ef</string>
</dict>
</plist>